<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'Back', todo_lists_path %>
</p>

<p>
  <strong>
  Subject:
  <%= @todo_list.subject %>
  </strong>
</p>

<%= link_to "New Todo", new_todo_item_path(@todo_list) %>

<p>
  <b> Todos: </b>
  <% @todos.each do |todo, i| %>
    <br>
    <div class=<%= todo.completed %>>
      <b>Task:</b> <%= todo.task %>
      <br>
      <b>Completed:</b> <%= todo.completed %>
    </div>
  <% end %>
</p>
