<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'Back', todo_lists_path %>
</p>

<p>
  <strong>
  Subject:
  <%= @todo_list.subject %>
  </strong>
</p>

<%= link_to "New Todo", new_todo_item_path(@todo_list) %>

<div> 
  <b>Show Active Todo's</b>
  <input type="checkbox", onClick="filterTodos(true)">
</div>

<div> 
  <b>Show Completed Todo's</b>
  <input type="checkbox", onClick="filterTodos(false)">
</div>

<p>
  <b> Todos: </b>
  <% @todos.each do |todo, i| %>
    <br>
    <div class=<%= todo.completed %>>
      <b>Task:</b> <%= todo.task %>
      <br>
      <b>Completed:</b> 

      <span class="completed-status">
      <%= todo.completed %>
      <span>

      <button type="button">Complete Task</button>
    </div>
  <% end %>
</p>

<%= button_to "clear completed", todo_list_clear_completed_path(@todo_list) %>

<script>
  function filterTodos(completed) {
    if (document.getElementsByClassName(completed)[0].style.visibility !== 'hidden')
      document.getElementsByClassName(completed)[0].style.visibility = 'hidden';
    else {
      document.getElementsByClassName(completed)[0].style.visibility = 'visible';
    }
  }
</script>
